@charset "utf-8";
/* @author ------- shauning
 * @design ------- vinha
 * @time   ------- 2015-03-24*/
/*reset*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,a,del,dfn,em,img,ins,strong,sub,sup,dd,dl,dt,li,ol,ul,fieldset,form,label,legend {margin:0;padding:0;}
section,article,aside,header,footer,nav,dialog,figure,hgroup {display:block;}
h1, h2, h3, h4, h5, h6 {font-size:100%;font-weight:normal;}
address, cite, em {font-style:normal;}
li {list-style-type:none;}
fieldset, img {border:0;}
label,button {cursor: pointer;}
select,input,textarea {font-size:12px;line-height:1.2em;outline:none;}
body {min-width:1220px;height:100%;background:#c60e4c url(../img/bg.png) repeat-x 0 52px;font:14px/1.8em "Microsoft Yahei","\5b8b\4f53","Arial Narrow";color:#fff;}
a {color:#fff;outline:none;text-decoration:none;}
a:hover {text-decoration: underline;}

.outer {background: url(../img/bg_outer.jpg) no-repeat center top;}
.wrapper {width: 1220px; margin: 0 auto; zoom:1;}
.contain {position: relative; padding-left: 265px;  zoom:1;}
.wrapper:after, .contain:after {content:""; display:table; clear:both}
.main {float: left; width: 540px;}
.leftbar {position: absolute; left: 0; top: 0; width: 250px;}
.rightbar {float: right; width: 400px;}
.btn {display: block; background: #ee206a; color: #fff; line-height: 26px; text-align: center; border-radius: 7px;}
.btn:hover {background: #ff337c; text-decoration: none;}
.btn_purple {background: #811bb7;}
.btn_purple:hover {background: #A63DDE;}

.header {height: 52px; background: #480264;}
.logo {float: left; width: 108px;}
.logo a {display: block; height: 52px; background: url(../img/logo.png); text-indent: -9999px;}
.nav {float: left; margin-left: 35px; font-size: 15px; line-height: 52px;}
.nav li {float: left; display: inline; margin-left: 35px;}
.pannel {float: right;}
.pannel .btn {float: right; width: 64px; margin: 12px 0 0 10px;}
.pannel_login {float: right; display: inline; margin: 13px 10px 0 0;}
.pannel_login span {float: left; color: #815094;}
.pannel_login a {float: left; display: block; width: 24px; height: 21px; margin-left: 10px; text-indent: -9999px;}
.pannel_login .qq {background: url(../img/ico_3.png);}
.pannel_login .weibo {background: url(../img/ico_2.png);}
.pannel_login .weixin {background: url(../img/ico_1.png);}
.pannel_user {line-height: 52px;}
.pannel_user a {float: right; margin-left: 10px;}
.userpannel {float: left;}

.pannelbar {height: 65px; overflow: hidden;}
.notice {height: 23px; background: url(../img/ico_4.png) no-repeat left center; font-size: 15px; line-height: 23px;}
.notice span {color: #ee206a;}
.notice p {float: left; margin: 0 5px 0 30px;}
.notice img {float: left;}
.notice li {float: left;}
.pannelbar_link {height: 20px; margin-top: 13px; font-size: 15px; line-height: 20px;}
.pannelbar_link a, .pannelbar_link span {float: right; padding-left: 20px; margin-left: 30px;}
.pannelbar_link_1 {background: url(../img/ico_5.png) no-repeat left center;}
.pannelbar_link_2 {background: url(../img/ico_6.png) no-repeat left center;}
.pannelbar_link_3 {background: url(../img/ico_7.png) no-repeat left center;}

.tabbox {position: relative; height: 40px; z-index: 2;}
.tabbox a {float: left; display: inline; width: 130px; background: #4a0672; margin-left: 2px; font-size: 15px; line-height: 40px; text-align: center;}
.tabbox a:hover, .tabbox .on {background: #ee206a; color: #fff; text-decoration: none;}
.tabbox_drop {position: absolute; left: 0; top: 40px; width: 400px; height: 465px; background: #2e013e;}

.ranklist {padding: 0 20px;}
.ranklist li {position: relative; height: 19px; padding: 0 100px 0 35px; margin-top: 12px; line-height: 19px; overflow: hidden;}
.ranklist em {position: absolute; left: 0; top: 0; width: 19px; height: 19px; background: #811bb7; color: #fff; text-align: center;}
.ranklist .star {position: absolute; right: 0; top: 0; background: url(../img/ico_8.png) no-repeat right center; padding-right: 20px; font-size: 12px; color: #ee206a;}
.ranklist .top {height: 54px;}
.ranklist .top em {top: 20px; background: #ee206a;}
.ranklist img {display: block;}
.ranklist .pic {float: left; width: 54px; height: 54px; margin-right: 10px;}

.infolist li {color: #b598c5; line-height: 28px; overflow: hidden; word-break:break-all;}
.infolist .time {font-size: 12px; color: #7f4c99}
.infolist .name {margin: 0 5px; color: #5a82bd;}
.infolist .name_HL {color: #f0717e;}
.infolist em {margin-left: 5px; color: #fff;}

.hudong {height: 740px; background: url(../img/hudong.png) no-repeat; margin-top: 17px; overflow: hidden;}
.hudong_news {height: 160px; margin: 20px 0; overflow: hidden;}
.hudong_titlebar {height: 40px; background: #41045a; font-size: 15px; color: #fff; line-height: 40px; text-align: center;}
.hudong_chart {height: 500px;}
.hudong_chart_con {height: 400px; margin: 20px 0;  overflow: hidden;}
.chartbox {height: 60px; background: #55054f;}
.chartbox_con {position: relative;}
.chartbox_con input {float: left; display: inline; width: 280px; height: 36px; background: #7c1672; padding: 0 10px; margin: 11px 0 0 13px; font-size: 15px; color: #ceb7cb; border: none;}
.chartbox_con button {float: left; display: inline; width: 70px; height: 37px; background: #ee206a; margin-top: 11px; color: #fff; border: none;}
.chartbox_con .num {position: absolute; right: 95px; top: 17px; font-size: 15px; color: #ceb7cb;}
.chartbox_con .tips {position: absolute; right: 87px; top: -26px; background: #3c0344; padding: 0 20px; font-size: 13px; color: #fc1e6e; line-height: 36px;}

.mCustomScrollBox {width: 365px; padding-right: 22px; margin: 0 0 0 13px;}
.mCSB_scrollTools {position:absolute;right:8px;top:0;width:6px;height:400px;}
.mCSB_draggerContainer {position:absolute;right:0;top:0;width:6px;height:400px;}
.mCSB_dragger {position:absolute;right:0;top:0;display:block;width:6px;overflow:hidden;}
.mCSB_dragger_bar {width:6px;height:100%;background:#af1665;cursor:pointer;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.mCSB_draggerRail {width:6px;height:400px;background:#4d065a;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.mCSB_dragger_bar:hover {background:#ee206a;}
.mCSB_draggerRail:hover {background:#4d065a;}

.hudong_chart .mCSB_scrollTools, .hudong_chart .mCSB_draggerContainer, .hudong_chart .mCSB_draggerRail {height: 400px;}
.hudong_news .mCSB_scrollTools, .hudong_news .mCSB_draggerContainer, .hudong_news .mCSB_draggerRail {height: 160px;}
.viewscroll {height: 300px; margin-top: 5px;}
.viewscroll .mCSB_scrollTools, .viewscroll .mCSB_draggerContainer, .viewscroll .mCSB_draggerRail {height: 300px;}
.viewscroll .mCustomScrollBox {width: 216px;}

.playerbox {width: 540px; height: 430px; background: #4f0762; overflow: hidden;}
.player {width: 520px; height: 390px; background: #000; margin: 10px auto 0;}

.userbox {height: 430px;}
.userinfo {position: relative; height: 145px; background: #5d0d7c; padding: 25px 13px 0 108px; font-size: 12px;}
.userinfo .pic {position: absolute; left: 20px; top: 25px; text-align: center;}
.userinfo .pic .picimg {display: block; width: 73px; height: 73px; margin-bottom: 10px; border-radius: 50%;}
.userinfo strong {font-size: 15px; color: #fff;}
.userinfo p {color: #ecd0f6; line-height: 22px;}
.userinfo .btn {float: left; padding: 0 14px; margin:5px 5px 0 0;}
.userinfo_lv {color: #ba61de;}
.userinfo_lv_bar {height: 3px; background: #7b13a2; overflow: hidden;}
.userinfo_lv_bar span {display: block; height: 3px; background: #ee206a;}

.userfans {height: 260px; background: #4e065a; padding: 0 16px;}
.userfans_tt {height: 32px; background: url(../img/userfans_tt.png) no-repeat left bottom; padding-bottom: 1px; font-size: 13px; color: #a14cce; line-height: 32px;}
.userfans_tt span {font-size: 15px; color: #fff;}
.fanslist {margin-left: -3px; overflow: hidden; zoom:1;}
.fanslist li {position: relative; float: left; display: inline; width: 52px; margin: 15px 0 0 3px; color: #b494c1; text-align: center; cursor: pointer;}
.fanslist .picimg {display: block; width: 52px; height: 52px; border-radius: 50%;}
.fanslist .mask {position: absolute; left: 0; top: 0; width: 52px; height: 52px; background: #000; line-height: 18px; opacity: 0.6; filter:alpha(opacity=60); border-radius: 50%;}
.fanslist em {display: none; margin-top: 10px; font-size: 12px; color: #fff;}
.fanslist em b {display: block; color: #ffe934;}
.fanslist li:hover em {display: block;}
.fanslist .on .mask {display: none;}
.fanslist .on:hover .mask {display: block;}
.shouhu {display: block; height: 52px; background: url(../img/shouhu.png); margin-top: 5px;}

.shop {position: relative;}
.shop_tt {height: 42px; background: #400443;}
.shop_tt .btn {float: right; display: inline; padding: 0 10px; margin: 8px 10px 0 0;}
.shop_tab {float: left; display: inline; margin: 2px 0 0 2px;}
.shop_tab a {float: left; padding: 0 10px; font-size: 15px; line-height: 40px;}
.shop_tab .on, .shop_tab a:hover {background: #5e084d; text-decoration: none;}
.shop_con {height: 115px; background: #620749; padding-top: 10px;}
.floattip {position: absolute; left: 0; top: 41px; width: 270px; height: 77px; background: #2e013d;}
.floattip img {float: left; display: inline; margin: 13px 10px 0 10px;}
.floattip span {color: #ee206a;}
.floattip p {margin: 13px 10px 0 0;}
.floattip .close {position: absolute; right: 0; top: 0; width: 19px; height: 20px; background: url(../img/close.png); text-indent: -9999px;}
.floattip .close:hover {background: url(../img/close2.png);}
.goods {position: relative;}
.goods_scroll {position: relative; width: 540px; height: 50px; overflow: hidden;}
.goodslist {position: relative; width: 3000px;}
.goodslist li {float: left; display: inline; width: 53px; background: #77136b; margin-right: 1px; text-align: center;}
.goodslist li:hover, .goodslist .selected {background: #ee206a;}
.goodslist a:hover {text-decoration: none;}
.prev, .next {position: absolute; top: 0; width: 12px; height: 50px; background: url(../img/scrollbtn.png); text-indent: -9999px;}
.next {right: -12px;}
.prev {left: -12px; background: url(../img/scrollbtn_L.png);}
.scroll_contain {position: relative;}
.goods_2 .goods_scroll {width: 221px; height: 180px;}
.goods_2 .prev, .goods_2 .next {top: 73px;}
.goods_2 .prev {left: -16px;}
.goods_2 .next {right: -16px;}

.total {float: left; display: inline; margin: 15px 0 0 10px; font-size: 12px; color: #d8ccd4; line-height: 42px;}
.total img {float: left; margin-right: 10px;}
.total span {color: #ff005c;}

.send {position: relative; float: right; display: inline; height: 32px; margin: 15px 10px 0 0; line-height: 32px;}
.send span {float: left;}
.sendnum {float: left; width: 100px; height: 32px; background: #941a88 url(../img/sendnum.png) no-repeat 80px center; margin: 1px 1px 0 10px; color: #fff; line-height: 32px; text-indent: 15px; border: none; cursor: pointer;}
.sendnum_btn {position: absolute; right: 47px; top: 0; width: 26px; height: 32px;}
.sendbtn {width: 44px; height: 32px; background: #ee206a; color: #fff; border: none;}
.sendbtn:hover {background: #ff337c;}
.sendnum_drop {position: absolute; left: 38px; top: 33px; width: 101px; background: #53033d;}
.sendnum_drop li {line-height: 30px; text-indent: 25px; cursor: pointer;}
.sendnum_drop li:hover {background: #6b0e5c;}

.login_bg {position: fixed; _position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #000; opacity: 0.6; filter:alpha(opacity=60); z-index: 9;}
.loginbox {position: absolute; left: 50%; top: 50%; width: 560px; background: #fff; margin: -150px 0 0 -280px; border: 6px #340e3c solid; z-index: 11;}
.loginbox_tt {height: 52px; border-bottom: 1px #efefef solid;}
.loginbox_tt strong {float: left; padding: 0 25px; font-size: 20px; color: #666; line-height: 52px; font-weight: normal; cursor: pointer;}
.loginbox_tt .cur {color: #fb5470; border-bottom: 1px #ee206a solid;}
.loginbox_tt .close {float: right; display: block; width: 31px; height: 31px; background: url(../img/loginbox.png) -195px -71px; margin: 10px 20px 0 0; text-indent: -9999px}
.loginbox_tt .close:hover {background-position: -195px -39px;}
.loginbox_con {padding: 20px 25px 10px; overflow: hidden; zoom:1;}
.loginbox_fi {float: left; width: 290px;}
.loginbox_fi_div {height: 16px; margin-top: 10px; font-size: 13px; color: #333;}
.loginbox_fi_div .checkbox {float: left; margin-top: 4px;}
.loginbox_fi_div label {margin-right: 10px; color: #333;}
.loginbox_fi_div a {color: #333;}
.loginbox_fi .tip {height: 21px; color: #c10000; font-size: 13px; text-align: right;}
.loginbox_fi .input {width: 268px; height: 20px; padding: 9px 10px; margin-top: 10px; font-size: 14px; line-height: 20px; border: 1px #d7d7d7 solid;}
.loginbox_fi .button {width: 290px; height: 40px; background: #ee206a; margin-top: 10px; font-size: 16px; color: #fff; font-family: "Microsoft Yahei"; border: none;}
.loginbox_code {height: 50px; overflow: hidden;}
.loginbox_code .input {float: left; width: 140px;}
.loginbox_code_img {float: left; width: 126px; height: 38px; margin-top: 10px; border: 1px #d7d7d7 solid; border-left: none;}
.loginbox_code_img img {float: left; width: 80px; height: 38px;}
.loginbox_code_img .loginbtn {float: left; display: block; width: 37px; height: 38px; background: url(../img/loginbox.png) -195px 0; text-indent: -9999px;}
.loginbox_more {float: right; width: 161px; background: url(../img/loginbox.png) no-repeat 0 28px; padding-left: 33px;}
.loginbox_more p {height: 29px; font-size: 13px;}
.loginbox_more .loginbtn {display: block; width: 161px; height: 40px; margin-bottom: 10px; font-size: 14px; color: #fff; line-height: 40px; text-indent: 52px;}

.gift {height: 116px;  background: #580956 url(../img/gift.png); margin-top: 15px;}
.gift li {float: left; display: inline; width: 75px; height: 90px; margin: 20px 15px 0;}
.gift a {position: relative; display: block; height: 90px; background: url(../img/shafa.png) no-repeat -106px 0; line-height: 155px; color: #ae96a9; text-align: center; text-decoration: none;}
.gift a:hover {background-position: 0 0; color: #fff;}
.gift .mask {display: none;}
.gift em {position: absolute; left: 32px; bottom: -47px; display: none; font-size: 10px; z-index: 2;}
.gift img {position: absolute; left: 10px; top: 5px; width: 52px; height: 52px;}
.gift .on {color: #fff;}
.gift .on .mask {position: absolute; left: 0; top: 0; display: block; width: 75px; height: 70px; background: url(../img/shafa_on.png); z-index: 2;}
.gift .on:hover .mask {background: url(../img/qiang.png);}
.gift .on:hover em {display: block;}

.view {height: 344px; background: url(../img/view.jpg); margin-top: 15px; overflow: hidden;}
.view_tab {height: 34px; overflow: hidden;}
.view_tab a {float: left; display: block; width: 125px; background: #48074c; font-size: 15px; color: #f4d9fe; line-height: 34px; text-align: center;}
.view_tab a span {font-size: 12px; color: #b151a8;}
.view_tab .on {background: none;}
.viewlist li {height: 32px; margin-top: 3px; line-height: 32px; overflow: hidden;}
.viewlist img {float: left; margin-right: 10px;}
.viewlist .lv {margin-top: 8px;}

.paybox {position: absolute; left: 50%; top: 100px; width: 410px; height: 380px; background: #31023d; margin: 0 0 0 -205px; z-index: 9;}
.paybox_tt {height: 47px; background: #280031; padding: 0 10px;}
.paybox_tt strong {float: left; font-size: 18px; color: #fff; line-height: 47px; font-weight: normal;}
.paybox_tt .close {float: right; display: block; width: 24px; height: 24px; background: url(../img/close3.png); margin: 10px 0 0 0; text-indent: -9999px}
.paybox_tt .close:hover {background-position: -25px 0;}
.payintro {width: 260px; height: 90px; background: url(../img/ico_9.png) no-repeat left top; padding-left: 90px; margin: 15px auto 0; border-bottom: 1px #66436f solid;}
.payintro p {color: #d4d4d4;}
.payintro a {color: #ee206a;}
.paylist {width: 350px; margin: 10px auto 0;}
.payinfo {font-size: 16px;}
.payinfo span {margin-left: 10px; font-size: 14px; color: #ee206a;}
.paylist .btn {width: 120px; margin: 15px auto 0; line-height: 38px;}
.paylist dl {height: 24px; margin-top: 15px; line-height: 24px; overflow: hidden;}
.paylist dt {width: 70px;}
.paylist dt, .paylist dd {float: left;}
.paylist dd a {float: left; height: 22px; padding: 0 5px; margin-right: 10px; font-size: 12px; line-height: 22px; border: 1px #782782 solid;}
.paylist dd .on {background: #ee206a; border-color: #ee206a;}
.paylist dd span {color: #ee206a;}