@charset "utf-8";
.auto_topbox {height:350px;margin-bottom:20px;}
.topnews {float:right;width:310px;height:325px;background:#f6f6f6;padding:0 10px 0 15px;}
.topnews h2 {height:20px;padding-top:15px;margin:12px 0 5px;font-size:16px;font-family:"Microsoft Yahei";font-weight:bold;border-top:solid #ebebeb 1px;overflow:hidden;}
.topnews .first {padding-top:0;border-top:none;}
.topnews h2 a {color:#0073c6;}
.topnews_ul li {height:26px;font-size:13px;font-family:"Microsoft Yahei";line-height:26px;overflow:hidden;}
.topnews_ul a {color:#555;}
.topnews_ul span {margin:0 3px;}
.box_typeD .box_tt {height:35px;line-height:35px;border-bottom:solid #f6f6f6 4px;overflow:visible;}
.box_typeD .box_tt h3 {height:35px;margin:0;font-size:17px;font-weight:bold;border-bottom:solid #1889d1 4px;}
.box_typeD .box_tt_tab h3 {margin-right:10px;font-weight:normal;border-bottom:none;cursor:pointer;}
.box_typeD .box_tt_tab .on {font-weight:bold;border-bottom:solid #1889d1 4px;}
.box_320 {width:320px;}
.floatL {float:left;}
.floatR {float:right !important;}

.auto_mod_slide {position: relative; float:left;width:665px;}
.auto_poster_wrap {position: relative; width: 665px; overflow: hidden;}
.auto_slidebox {width:665px;height:325px;}
.auto_slidebox li {position:absolute;left:0;top:0;width:665px;height:325px;opacity: 0;filter:alpha(opacity=0);-webkit-transition:opacity .2s ease-in;transition:opacity .2s ease-in;}
.auto_slidebox .on {opacity: 1;filter:alpha(opacity=100);z-index:999;}
.auto_slidebox_div {position:relative;float:right;width:330px;height:160px;margin-bottom:5px;}
.auto_slidebox_div_330x325 {float:left;height:325px;}
.auto_slidebox img, .auto_slidebox a {display:block;width:330px;height:160px;}
.auto_slidebox_div_330x325 img, .auto_slidebox_div_330x325 a {height:325px;}
.auto_slidebox span {position:absolute;left:0;bottom:0;display:block;width:320px;height:40px;padding:0 5px;font-size:16px;color:#fff;font-family:"Microsoft Yahei";line-height:40px;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#99000000', endColorstr='#99000000');background:rgba(0,0,0,0.6);}
.auto_ico_prev, .auto_ico_next {position:absolute;top:128px;display:none;width:45px;height:64px;background:url(../img/auto_modslide.png);text-indent:-9999px;z-index:1000;}
.auto_ico_prev {left:0;}
.auto_ico_prev:hover {background-position:-92px 0;}
.auto_ico_next {right:0;background-position:-46px 0;}
.auto_ico_next:hover {background-position:-138px 0;}
.auto_nav_poster {text-align: center;}
.auto_nav_poster li {display: inline-block; width: 14px; height: 6px; background: #dedede; margin: 0 3px; text-indent: -9999px; overflow: hidden; cursor: pointer;}
.auto_nav_poster .on {background: #379be9;}
.auto_slidebox_B {width: 1005px;}
.auto_slidebox_B .auto_slidebox_div {float: left;margin: 5px 5px 0 0;}
.auto_slidebox_div_330x270 { height: 270px;}
.auto_slidebox_div_330x270 img, .auto_slidebox_div_330x270 a {height:270px;}

.main_660 {width:660px;}
.txtlist_nor {margin-top:15px;}
.txtlist_nor li {height:28px;font-size:14px;line-height:28px;}
.txtlist_158 {float:left;width:158px;}

.txtlist li {background: url(http://misc.kankancity.com/station/v3/channel/img/sprite_channel.png) no-repeat 0 0;}
.movtxt {position: absolute; right: 0; bottom: 0; padding: 0 5px; color: #fff; line-height: 21px; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#99000000', endColorstr='#99000000'); background:rgba(0,0,0,0.6); cursor: pointer;}
.pic {position: relative; display: block; overflow: hidden;}
.box_side .box_tt {height: 20px; margin-top: 7px; line-height: 20px;}
.hotnews .box_side .box_tt {margin-bottom: 15px;}
.box_side h3 {float: left; margin: 0; font-size: 18px; color: #333;}
.box_side .bannerbox_btn {top: -5px;}
.box_side_marginB {margin-bottom: 30px;}
.txtlist {overflow: hidden;}
.txtlist li {height: 20px; background-position: -88px 7px; margin-top: 10px; font-size: 14px; line-height: 20px; overflow: hidden;}
.txtlist a {margin-left: 10px;}
.imglist2 {>float: left; margin-left: -20px; overflow: hidden; zoom:1;}
.imglist2 li {float: left; width: 190px; height: 150px; background: #f5f5f5; margin: 0 0 0 20px; font-size: 14px; overflow: hidden;}
.imglist2 div, .imgtxt div {padding: 0 10px;}
.imglist2 .pic, .imglist2 img {width: 190px; height: 106px;}
.imglist2 .pic {margin-bottom: 3px;}
.imglist2 .title, .imgtxt .title {display: block;}
.imglist2_150x85 li {width: 150px; height: 130px; margin-top: 15px;}
.imglist2_150x85 .pic, .imglist2_150x85 img {width: 150px; height: 85px;}
.imgtxt {width: 320px; height: 150px; background: #f5f5f5; font-size: 14px; overflow: hidden;}
.imgtxt .pic, .imgtxt img {width: 320px; height: 106px;}
.imgtxt .pic {position: relative; margin-bottom: 3px;}
.imgtxt_125x65 {height: 65px; margin-top: 5px;}
.imgtxt_125x65 div {margin-top: 13px;}
.imgtxt_125x65 .pic {float: left; margin: 0 10px 0 0;}
.imgtxt_125x65 .pic, .imgtxt_125x65 img {width: 125px; height: 65px;}
.imgtxt_marginT {margin-top: 15px;}