@charset "utf-8";
.auto_topbox {height:350px;margin-bottom:20px;}
.topnews {float:right;width:310px;height:325px;background:#f6f6f6;padding:0 10px 0 15px;}
.topnews h2 {height:20px;padding-top:15px;margin:12px 0 5px;font-size:16px;font-family:"Microsoft Yahei";font-weight:bold;border-top:solid #ebebeb 1px;overflow:hidden;}
.topnews .first {padding-top:0;border-top:none;}
.topnews h2 a {color:#0073c6;}
.topnews_ul li {height:26px;font-size:13px;font-family:"Microsoft Yahei";line-height:26px;overflow:hidden;}
.topnews_ul a {color:#555;}
.topnews_ul span {margin:0 3px;}
.box_typeD .box_tt {height:35px;line-height:35px;border-bottom:solid #f6f6f6 4px;overflow:visible;}
.box_typeD .box_tt h3 {height:35px;margin:0;font-size:17px;font-weight:bold;border-bottom:solid #1889d1 4px;}
.box_typeD .box_tt_tab h3 {margin-right:10px;font-weight:normal;border-bottom:none;cursor:pointer;}
.box_typeD .box_tt_tab .on {font-weight:bold;border-bottom:solid #1889d1 4px;}
.box_320 {width:320px;}
.floatL {float:left;}
.floatR {float:right !important;}

.auto_mod_slide {position: relative; float:left;width:665px;}
.auto_poster_wrap {position: relative; width: 665px; overflow: hidden;}
.auto_slidebox {width:665px;height:325px;}
.auto_slidebox li {position:absolute;left:0;top:0;width:665px;height:325px;opacity: 0;filter:alpha(opacity=0);-webkit-transition:opacity .2s ease-in;transition:opacity .2s ease-in;}
.auto_slidebox .on {opacity: 1;filter:alpha(opacity=100);z-index:999;}
.auto_slidebox_div {position:relative;float:right;width:330px;height:160px;margin-bottom:5px;}
.auto_slidebox_div_330x325 {float:left;height:325px;}
.auto_slidebox img, .auto_slidebox a {display:block;width:330px;height:160px;}
.auto_slidebox_div_330x325 img, .auto_slidebox_div_330x325 a {height:325px;}
.auto_slidebox span {position:absolute;left:0;bottom:0;display:block;width:320px;height:40px;padding:0 5px;font-size:16px;color:#fff;font-family:"Microsoft Yahei";line-height:40px;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#99000000', endColorstr='#99000000');background:rgba(0,0,0,0.6);}
.auto_ico_prev, .auto_ico_next {position:absolute;top:128px;display:none;width:45px;height:64px;background:url(../img/auto_modslide.png);text-indent:-9999px;z-index:1000;}
.auto_ico_prev {left:0;}
.auto_ico_prev:hover {background-position:-92px 0;}
.auto_ico_next {right:0;background-position:-46px 0;}
.auto_ico_next:hover {background-position:-138px 0;}
.auto_nav_poster {text-align: center;}
.auto_nav_poster li {display: inline-block; width: 14px; height: 6px; background: #dedede; margin: 0 3px; text-indent: -9999px; overflow: hidden; cursor: pointer;}
.auto_nav_poster .on {background: #379be9;}
.auto_slidebox_B {width: 1005px;}
.auto_slidebox_B .auto_slidebox_div {float: left;margin: 5px 5px 0 0;}
.auto_slidebox_div_330x270 { height: 270px;}
.auto_slidebox_div_330x270 img, .auto_slidebox_div_330x270 a {height:270px;}

.main_660 {width:660px;}
.txtlist_nor {margin-top:15px;}
.txtlist_nor li {height:28px;font-size:14px;line-height:28px;}
.txtlist_158 {float:left;width:158px;}
