@charset "utf-8";
/* @author ------- shauning
 * @design ------- vinha
 * @time   ------- 2015-03-31*/
/*reset*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,a,del,dfn,em,img,ins,strong,sub,sup,dd,dl,dt,li,ol,ul,fieldset,form,label,legend {margin:0;padding:0;}
section,article,aside,header,footer,nav,dialog,figure,hgroup {display:block;}
h1, h2, h3, h4, h5, h6 {font-size:100%;font-weight:normal;}
address, cite, em {font-style:normal;}
li {list-style-type:none;}
fieldset, img {border:0;}
label,button {outline: none; cursor: pointer;}
select,input,textarea {font-size:12px;line-height:1.2em;outline:none;}
body {height:100%;background:#fff;font:12px/1.6em "Microsoft Yahei","\5b8b\4f53","Arial Narrow";color:#999;}
a {color:#333;outline:none;text-decoration:none;}
a:hover {color:#309de7;}
/*ad*/
.bannerouter {margin-bottom: 15px; overflow:hidden; zoom:1;}
.bannerbox {position:relative;width:950px;margin:0 auto;overflow:hidden;zoom:1;}
.bannerbox div {margin-top:4px;}
.bannerbox_flag_l {float: left; width: 160px; height: 60px; overflow: hidden; zoom:1;}
.bannerbox_flag_c {float: left; display: inline; width: 610px; height: 60px; margin-left: 10px; overflow: hidden; zoom:1;}
.bannerbox_flag_r {float: right; width: 160px; height: 60px; overflow: hidden; zoom:1;}
.bannerbox .bannerbox_L {float:left;width:470px;height:60px;margin:4px 0 0;overflow: hidden;}
.bannerbox .bannerbox_L div, .bannerbox .bannerbox_R div {margin-top: 0;}
.bannerbox .bannerbox_R {float:right;width:470px;height:60px;margin:4px 0 0;overflow: hidden;}
.banner_fix {position: fixed; _position: absolute; bottom: 400px; width: 90px; height: 120px; z-index: 10000;}
.banner_fix_l {left: 10px;}
.banner_fix_r {right: 10px;}
.bannerbox_btn {position: absolute; right: 0; top: 0; width: 150px;}
.bannerbox_btn div {margin: 0;}
.wrapper .bannerbox div {margin: 0;}
.bannerbox_more {float: left; display: none; width: 190px; margin-left: 20px; _margin-left: 10px;}
/*header*/
.sitenav, .logo i, .sitenav_more li, .areabox_city_drop .arrow, .areabox_city_tt, .header_app a, .hico {background: url(http://misc.kankancity.com/station/v3/img/sitenav.png) no-repeat 0 0;}
.header {width:1370px; height:63px; margin:20px auto 0;}
.hico {position: absolute; display: block;}
.logo {position:relative; float:left; width:160px; height:46px;}
.logo a {display:block; height:46px;}
.logo i {position:absolute; left:0; top:0; display:block; width:160px; height:46px;}
.site_hb .logo i {background-position:0 -93px;}
.site_hn .logo i {background-position:0 -140px;}
.site_js .logo i {background-position:0 -187px;}
.site_sc .logo i {background-position:0 -234px;}
.areabox {float: left; height: 36px; padding-left: 15px; margin: 7px 0 0 15px; font-size: 14px; border-left: #f3f3f3 1px solid;}
.header_pannel {float: right; display: inline; margin: 15px 0 0 30px;}
.header_app {font-size: 14px; line-height: 26px;}
.header_app a {display: inline-block; color: #999;}
.header_app .mobile {background-position: -254px -47px; padding-left: 30px;}
.headersearch {float:right; margin: 6px 0 0; >margin: -34px 0 0;}
.headersearch input {float:left;width:215px;height:16px;padding:5px 10px;font-size:14px;line-height:16px;font-family:"Microsoft Yahei";border:solid #e8e8e8 1px;}
.headersearch button {float: left; width:70px;height:28px;background:#eaeaea;font-size:15px;color:#333;line-height:26px;font-family:"Microsoft Yahei";border:solid #dbdbdb 1px;border-left:none;}
.areabox_city {position: relative; float:left; display: inline; z-index: 9;}
.areabox_city_tt {height: 28px; background-position: 60px -65px; padding-right: 18px; color:#309de7; line-height: 20px; cursor: pointer;}
.areabox_city_drop {position: absolute; left: 0; top: 27px; display: none; width: 180px; background: #fff; padding: 5px 0; border: 1px #ddd solid;}
.areabox_city_drop a {float: left; display: block; width: 60px; font-size: 14px; line-height: 30px; text-align: center;}
.areabox_city_drop .arrow {position:absolute;left:54px;top:-9px;width:20px;height:14px;background-position:-21px -47px;}
.sitenav {background-position: 0 -281px; background-repeat: repeat-x; margin:0 auto;}
.sitenav_list {width: 1370px; height:50px;background:#1887d0; margin: 0 auto;}
.sitenav ul, .sitenav li {float:left;}
.sitenav_list a {position:relative;display:block;width:68px;height:50px;font-size:17px;color:#fff;font-family:"Microsoft Yahei";line-height:50px;text-align:center;}
.sitenav_list .cur, .sitenav_list a:hover {background:#0266a8;text-decoration:none;}
.sitenav_more li {background-position:0 -372px;padding-left:10px;}
.sitenav_channel {width: 1370px; height:40px; background: #f6f6f6; margin: 0 auto; font-size: 15px; line-height:40px;}
.sitenav_channel a {margin:0 15px; color: #666;}
.sitenav_channel .on {color: #005ca2; font-weight: bold;}
.sitenav_drop {position: relative; float: left; display: none; z-index: 10;}
.sitenav_list .sitenav_drop_tigger {width: 80px;}
.sitenav_drop_tigger .hico {right: 8px; top: 22px; width: 11px; height: 6px; background-position: -38px -47px;}
.sitenav_drop_con {position: absolute; left: 0; top: 50px; display: none; width: 80px; background: #3aa5eb;}
.sitenav_drop_con a {width: 80px;}
.pop_fadein {display:block;-webkit-animation:pop_fadein .5s alternate ease-in-out;-moz-animation:pop_fadein .5s alternate linear;-ms-animation:pop_fadein .5s alternate linear;animation:pop_fadein .5s alternate ease-in-out;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d;}@-webkit-keyframes pop_fadein{0%{opacity:0;-webkit-transform:translateY(-30px);}50%{opacity:1;-webkit-transform:translateY(4px);}80%{-webkit-transform:translateY(-2px);}100%{-webkit-transform:translateY(0);}}@-moz-keyframes pop_fadein{0%{opacity:0;-moz-transform:translateY(-30px);}50%{opacity:1;-moz-transform:translateY(4px);}80%{-moz-transform:translateY(-2px);}100%{-moz-transform:translateY(0);}}@-ms-keyframes pop_fadein{0%{opacity:0;-ms-transform:translateY(-30px);}50%{opacity:1;-ms-transform:translateY(4px);}80%{-ms-transform:translateY(-2px);}100%{-ms-transform:translateY(0);}}@keyframes pop_fadein{0%{opacity:0;transform:translateY(-30px);}50%{opacity:1;transform:translateY(4px);}80%{transform:translateY(-2px);}100%{transform:translateY(0);}}
/*globel*/
.floatpannel a, .ico, .txtlist li {background: url(../img/sprite_channel.png) no-repeat 0 0;}
.wrapper {width: 1370px; margin: 0 auto 30px; zoom:1;}
.wrapper:after, .box:after {content:""; display:table; clear:both}
.main {position: relative; float: left; width: 1030px; overflow: hidden;}
.side {float: right; width: 320px;}
.contain {width: 820px;}
.fs14 {font-size: 14px;}
.ico {position: absolute; display: block; overflow: hidden;}
.gray {color: #999;}
.H365 {height: 365px;}
.H445 {height: 445px;}
.hotnews .box {margin-bottom: 0 !important;}
.footer {width:950px;height:65px;margin:30px auto 0;color:#ccc; line-height:24px; text-align:center;}
.footer a {color: #ccc;}
.footer span {color: #999;}
.footer p {font-family:"Arial";}
/*floatpannel*/
.floatpannel {position:fixed;_position:absolute;right:10px;bottom:46px;z-index:999;}
.floatpannel a {display:block;width:50px;height:50px;margin-top:10px;text-indent:-9999px;overflow:hidden;}
.floatpannel .floatpannel_top {background-position:0 -104px;}
.floatpannel .floatpannel_code {background-position:0 -185px;}
.floatpannel .floatpannel_code:hover {background-position:-50px -185px;}
.floatpannel_tip {position: relative;}
.floatpannel_tip_box {position: absolute; right: 48px; top: -56px;}
/*floatsize*/
.w950 .wrapper, .w950 .header, .w950 .sitenav_list, .w950 .sitenav_channel {width: 950px;}
.w950 .sitenav ul {max-width: 748px; _width: 748px; height: 50px; overflow: hidden;}
.w950 .sitenav .sitenav_more {width: auto;}
.w950 .sitenav_drop {display: block;}
.w950 .main {width: 610px;}
.w950 .bottom_L {width: 430px; margin-left: 30px;}
.w950 .bottom_R {width: 450px;}
.w1160 .wrapper, .w1160 .header, .w1160 .sitenav_list, .w1160 .sitenav_channel {width: 1160px;}
.w1160 .main {width: 820px;}
.w1160 .wrapper .bannerbox {float: left;}
.w1160 .bannerouter .bannerbox {width: 1160px;}
.w1160 .bannerbox_flag_c {width: 820px;}
.w1160 .bannerbox .bannerbox_L, .w1160 .bannerbox .bannerbox_R {width: 575px;}
.w1370 {min-width: 1370px;}
.w1370 .bannerbox_more, .w1160 .bannerbox_more {display: block;}
.w1370 .wrapper .bannerbox {float: left;}
.w1370 .bannerouter .bannerbox {width: 1160px;}
.w1370 .bannerbox_flag_c {width: 820px;}
.w1370 .bannerbox .bannerbox_L, .w1370 .bannerbox .bannerbox_R {width: 575px;}
/*box*/
.box {zoom:1;}
.box_tt {position: relative; height: 28px; margin-bottom: 20px; line-height:28px;}
.box_tt h2 {float: left; margin-right: 20px; font-size: 26px; color: #333;}
.box_side .box_tt {height: 20px; margin-top: 7px; line-height: 20px;}
.hotnews .box_side .box_tt {margin-bottom: 15px;}
.box_side h3 {float: left; font-size: 18px; color: #333;}
.box_side .bannerbox_btn {top: -5px;}
.box_side_marginB {margin-bottom: 30px;}
.act {float: right; _display: inline; margin-right: 330px; font-size: 14px;}
.act a {margin: 0 10px; color: #666;}
.more {position: relative; padding-right: 10px;}
.more .ico {right: 0; top: 6px; width: 4px; height: 7px; background-position: -41px -23px;}
.more:hover .ico {-webkit-animation:more 0.5s 0 ease both normal;-moz-animation:more 0.5s 0 ease both ;-o-animation:more 0.5s 0 ease both normal;-ms-animation:more 0.5s 0 ease both normal;animation:more 0.5s 0 ease both normal;}
@-webkit-keyframes more{
0%{-webkit-transform: translateX(-5px);opacity:0;}
100%{-webkit-transform: translateX(0);opacity:1;}
}
@-moz-keyframes more{
0%{-moz-transform: translateX(-5px);opacity:0;}
100%{-moz-transform: translateX(0);opacity:1;}
}
@-o-keyframes more{
0%{-o-transform: translateX(-5px);opacity:0;}
100%{-o-transform: translateX(0);opacity:1;}
}
@-ms-keyframes more{
0%{-ms-transform: translateX(-5px);opacity:0;}
100%{-ms-transform: translateX(0);opacity:1;}
}
@keyframes more{
0%{transform: translateX(-5px);opacity:0;}
100%{transform: translateX(0);opacity:1;}
}
/*list*/
.txtlist {height: 268px; overflow: hidden;}
.txtlist li {height: 20px; background-position: -88px 7px; margin-top: 10px; font-size: 14px; line-height: 20px; overflow: hidden;}
.txtlist a {margin-left: 10px;}
.pic {position: relative; display: block; overflow: hidden;}
.movtxt {position: absolute; right: 0; bottom: 0; padding: 0 5px; color: #fff; line-height: 21px; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#99000000', endColorstr='#99000000'); background:rgba(0,0,0,0.6); cursor: pointer;}
.ico_play {position: absolute; left: 5px; bottom: 5px; width: 28px; height: 28px; background: url(../img/png24.png);}
.imglist {>float: left; margin-left: -20px; overflow: hidden; zoom:1;}
.imglist li {float: left; width: 190px; height: 150px; background: #f5f5f5; margin: 0 0 0 20px; font-size: 14px; overflow: hidden;}
.imglist div, .imgtxt div {padding: 0 10px;}
.imglist .pic, .imglist img {width: 190px; height: 106px;}
.imglist .pic {margin-bottom: 3px;}
.imglist .title, .imgtxt .title {display: block;}
.imglist_s {margin: 0;}
.imglist_s li {height: 135px; margin-bottom: 20px;}
.imglist_a {margin: 0;}
.imglist_a li {margin-bottom: 10px;}
.imglist_205x113 { margin-left: -7px;}
.imglist_205x113 li {width: 205px; height: 113px; margin: 15px 0 0 7px;}
.imglist_205x113 img {width: 205px; height: 113px;}
.w950 .imglist_205x113 li {width: 193px; height: 106px;}
.w950 .imglist_205x113 img {width: 193px; height: 106px;}
.imglist_150x85 {margin-top: -15px;}
.imglist_150x85 li {width: 150px; height: 130px; margin-top: 15px;}
.imglist_150x85 .pic, .imglist_150x85 img {width: 150px; height: 85px;}
.ico_flag {right: 0; top: 0; width: 62px; height: 62px; background-position: 0 -41px; cursor: pointer;}
.imgtxt {width: 320px; height: 150px; background: #f5f5f5; font-size: 14px; overflow: hidden;}
.imgtxt .pic, .imgtxt img {width: 320px; height: 106px;}
.imgtxt .pic {position: relative; margin-bottom: 3px;}
.imgtxt_400x270 {float: left; width: 400px; height: 310px; font-size: 16px;}
.imgtxt_400x270 .pic {margin-bottom: 8px;}
.imgtxt_400x270 .pic, .imgtxt_400x270 img {width: 400px; height: 270px;}
.imgtxt_125x65 {height: 65px; margin-top: 5px;}
.imgtxt_125x65 div {margin-top: 13px;}
.imgtxt_125x65 .pic {float: left; margin: 0 10px 0 0;}
.imgtxt_125x65 .pic, .imgtxt_125x65 img {width: 125px; height: 65px;}
/*newslist*/
.ico_zt, .ico_rm, .ico_tt, .ico_tj {left:-2px;top:-1px;width:39px;height:23px;background-position:0 -155px; text-indent: -999px;}
.ico_rm {background-position:-40px -155px;}
.ico_tt {background-position:-81px -155px;}
.ico_tj {background-position:-121px -155px;}
h3 .ico {position:static;float:left;margin-right:10px;}
.newslist_con {height:106px;padding:22px 15px 22px 1px;border-bottom:dotted #e8e8e8 1px;}
.newslist_con:hover {background:#f8f8f8;}
.newslist_div .pic {position:relative;float:left;display:inline;width:190px;height:106px;margin-right:20px;}
.newslist_div h3 {height:22px;margin:0 0 10px;font-size:18px;line-height:22px;font-family:"Microsoft Yahei";font-weight:bold;overflow:hidden;}
.newslist_div p {height:40px;color:#767676;overflow:hidden;}
.newslist_info {height:21px;margin-top:10px;overflow: hidden;}
.newslist_info_from {float:left;}
.newslist_div_first .newslist_con {border-top:none;}
.newslist_div_type1 .newslist_con {height:185px;}
.newslist_more {position:relative;display:block;height:40px;background:#f4f4f4;margin:20px 0 0;font-size:14px;color:#9a9a9a;line-height:40px;text-align:center;}
.newslist_more:hover {background:#379be9;color:#fff;text-decoration:none;}
.newslist_more:hover .ico_more {background-position:-128px -47px;}
/*other*/
.imgtxt_marginT {margin-top: 15px;}

.fresh {position:relative;padding-left:25px;font-size:13px;line-height:20px;}
.fresh strong, .fresh a {color:#e40000;}
.fresh strong {font-family:"Arial";}
.loader {height:32px;margin:20px 0;text-align:center;}
.ico_fresh {left:-0;top:0;width:20px;height:20px;background-position:-63px -41px;}


.tagname {height:60px;background:#f6f6f6;padding:0 20px;line-height:60px;border-top:solid #1c8dd5 2px;overflow:hidden;margin-top:25px}
.tagname h2 {font-size:24px;color:#333;font-family:"Microsoft Yahei";}