@charset "utf-8";
/* @author ------- weibo.com/shauning
 * @design ------- vinha
 * @time   ------- 2015-01-04*/
/*reset*/
html {overflow-y: scroll}
html, body {font:12px/1.5 "Helvetica Neue", Helvetica, STHeiTi, sans-serif; color:#666; -webkit-tap-highlight-color:rgba(0,0,0,0);}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:500; }
ol,ul { list-style:none; }
table { border-collapse:collapse; border-spacing:0; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; color: #000; font-weight:500; }
abbr,acronym { border:0; }
del{text-decoration:line-through}
input, select, textarea{font-size:100%; -webkit-appearance:none;}
textarea{resize:none;}
q:before,q:after{content:''}
ins,a{ color: #333; text-decoration:none;}
a:hover{text-decoration:underline}

h1 {font-size: 2rem; font-weight: bold;}
.wrapper {padding:10px;}
.artinfo {margin: 1em 0 2em}
.artbox_img {text-align: center;}
.artbox_img img {width:100%;height:100%;}
.artbox p {margin-bottom: 22px; font-size: 1.33rem; text-indent: 2em;}