@charset "utf-8";
/* @author ------- shauning
 * @design ------- vinha
 * @time   ------- 2014-10*/
/*reset*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,a,del,dfn,em,img,ins,strong,sub,sup,dd,dl,dt,li,ol,ul,fieldset,form,label,legend {margin:0;padding:0;}
section,article,aside,header,footer,nav,dialog,figure,hgroup {display:block;}
h1, h2, h3, h4, h5, h6 {font-size:100%;font-weight:normal;}
address, cite, em {font-style:normal;}
li {list-style-type:none;}
fieldset, img {border:0;}
label,button {cursor: pointer;}
select,input,textarea {font-size:12px;line-height:1.2em;outline:none;}
body {min-width:1000px;height:100%;background:#f3f3f3;font:13px/1.6em "Microsoft Yahei","\5b8b\4f53","Arial Narrow";color:#999;}
a {color:#333;outline:none;text-decoration:none;}
a:hover {color:#249ff1;}
/*globel*/
.floatpannel a, .txtlist a, .ico {background:url(../img/sprite_main.png) no-repeat 0 0;}
.wrapper {width:1000px;margin:35px auto 0;zoom:1;}
.main {float:left;width:800px;}
.side {float:right;width:160px;}
.ff_yh {font-family:"Microsoft Yahei";}
.wrapper:after {content:"";display:table;clear:both}
.footer {width:1000px;height:40px;padding-top:20px;margin:40px auto 0;color:#b1b1b1;font-family:"Arial";text-align:center;border-top:solid #f4f4f4 1px;}

/*globelnav*/
.globelnav_list .cur, .globelnav_logo a, .channelnav_list .cur {background:url(../img/globelnav_v2.png) no-repeat 0 0;}
.globelnav {height:47px;background:#fff url(../img/bg_mainnav.png) repeat-x center bottom; padding-bottom: 3px;}
.globelnav_con {position:relative;width:1000px;margin:0 auto;z-index:9999;}
.globelnav_logo {float:left;width:130px;height:47px;overflow:hidden;}
.globelnav_logo a {display:block;height:47px;text-indent:-9999px;}
.globelnav_list {float:left;display:inline;margin-left:15px;}
.globelnav_list li {float:left;}
.globelnav_list a {display:block;height:47px;padding:0 10px;font-size:16px;line-height:47px;overflow:hidden;}

.ico {position:absolute;display:block;width:23px;height:23px;text-indent:-9999px;overflow:hidden;}
.ico_comment {left:0;top:0;}

.box {margin-bottom:20px;border-top:solid #379be9 3px;overflow:hidden;zoom:1;}
.box_tt {height:30px;margin-top:10px;line-height:30px;}
.box_tt h3 {font-size:18px;color:#333;font-family:"Microsoft Yahei";}
.box_float {position:fixed;_position:static;top:0;width:275px;z-index:999;}
.box_morenews {position:relative;height:388px;}

.txtlist li {height:36px;font-size:13px;line-height:36px;overflow:hidden;}
.txtlist a {padding-left:15px;background-position:-30px -4px;color:#666;}

h1 {font-size:36px;color:#333;line-height:40px;}
.share, .share span {float:left;}
.artpannel {height:42px;margin-top:15px;}
.artpannel_comment {position:relative;float:right;display:block;padding-left:28px;font-size:18px;color:#cc1b1b;font-family:"Microsoft Yahei";line-height:24px;}
.artbox {margin:25px 0 0;}
.artinfo {float:left;font-size:13px;font-family:"Microsoft Yahei";}
.artbox_img {margin-bottom:30px;text-align:center;}
.artbox_img img {display:block;max-width:800px;margin:0 auto;}
.artbox p, .artbox .div_p {margin-bottom:30px;font-size:16px;color:#333;font-family:"Microsoft Yahei";line-height:26px;text-indent:2em;}
.artbox p a, .artbox .div_p a {color: #249ff1; text-decoration: underline;}
.artbox p em, .artbox .div_p em {margin: 0 5px; font-style: italic;}
.artbox ul, .artbox ol {margin-bottom: 25px; font-size:16px;color:#333;line-height:28px;font-family:"Microsoft Yahei";}
.artbox table {font-size:16px;color:#333;font-family:"Microsoft Yahei";}
.artcomment {margin-top:30px;}
.artpannel_top {border-bottom:solid #dadada 1px;}
.artpannel_top .share {float:right;}
.artbox_player {margin-bottom:30px;}
.artbox_playerbox {position:relative;width:660px;height:540px;background:#000;}
.artbox_playertt {display:block;height:40px;background:#f3f3f3;padding:0 10px;font-size:15px;color:#333;font-family:"Microsoft Yahei";line-height:40px;overflow:hidden;}
/*error*/
.error {position:absolute;left:0;top:0;width:640px;height:520px;background:#000 url(http://misc.kankancity.com/video/img/error.png) no-repeat center 200px;color:#fff;z-index:999;text-align:center;}
.error p {padding:300px 0 20px;font-size:14px;color: #666;line-height:24px;}
.errortxt {position:absolute;left:0;top:0;width:100%;height:100%;background:#000;padding-top:200px;color:#fff;z-index:999;text-align:center;}
.errortxt p {padding-bottom:20px;font-size:16px;font-family:"Microsoft YaHei";line-height:24px;}
.errortxt a, .error a {color:#249FF1;text-decoration:underline;}
.errortxt div {padding:20px 0 0 178px;text-align:left;}

.source {text-align:center;}
.source h2 {font-size:14px;color:#333;}
.source_info {margin:10px 0;line-height:46px;border-top:solid #e0e0e0 1px;border-bottom:solid #e0e0e0 1px;}

/*imgLlist*/
.imgLlist {_float:left;margin-left:-38px;overflow:hidden;zoom:1;}
.imgLlist li {position:relative;float:left;width:380px;height:75px;margin:15px 0 0 38px;border-bottom:solid #e7e7e7 1px;overflow:hidden;}
.imgLlist .pic {float:left;display:block;width:107px;height:60px;margin-right:10px;}
.imgLlist .pic img {width:107px;height:60px;}
.imgLlist .title {height:40px;margin-bottom:3px;font-size:15px;overflow:hidden;}

#ckepop .jtico_tsina {background:#000;}

/*slide*/
.mod_slide {width: 800px; margin:0 auto 30px;}
.poster_wrap {position:relative;width:800px;height:525px;}
.lis_poster {width:800px;height:525px;overflow:hidden;}
.lis_poster li {position:absolute;left:0;top:0;width:800px;height:525px;opacity: 0;filter:alpha(opacity=0);-webkit-transition:opacity .2s ease-in;transition:opacity .2s ease-in;overflow:hidden;}
.lis_poster li .pic {display: table-cell;*display: block;width:660px;height:525px;*font-size: 390px;*font-family:Arial;border:solid #ebebeb 1px;vertical-align:middle;text-align:center;overflow:hidden}
.lis_poster img {max-width:800px;max-height:525px;}
.lis_poster .on {opacity:1;filter:alpha(opacity=100);}
.zoom {position:absolute;right:15px;bottom:20px;display:block;width:36px;height:35px;background:url(../img/modslide_content.png) -100px -146px;text-indent:-9999px;}
.ico_prev, .ico_next {position:absolute;top:225px;display:block;width:56px;height:80px;background:url(../img/modslide_content.png);text-indent:-9999px;}
.ico_prev {left:0;}
.ico_prev:hover {background-position:-114px 0;}
.ico_next {right:0;background-position:-57px 0;}
.ico_next:hover {background-position:-171px 0;}
.slideNav_outer {position:relative;height:81px;background:#ececec;padding-top:20px;}
.slideNav_wr {position:relative;width:736px;height:65px;margin:0 auto;overflow:hidden;}
.nav_poster {position:relative;width:3000px;}
.nav_poster li {float:left;display:inline;width:110px;height:65px;margin-right:15px;}
.nav_poster a {position:relative;display:block;width:110px;height:65px;overflow:hidden;}
.nav_poster img {max-width:110px;max-height:65px;}
.nav_poster .mask {position:absolute;left:0;top:0;display:none;background:url(../img/modslide_content.png) -100px -81px;width:110px;height:65px;}
.nav_poster .on .mask {display:block;}
.slideNav_outer .ico_prev, .slideNav_outer .ico_next {top:0;width:24px;height:100px;}
.slideNav_outer .ico_prev {background-position:0 -81px;}
.slideNav_outer .ico_prev:hover {background-position:-50px -81px;}
.slideNav_outer .ico_next {right:0;background-position:-25px -81px;}
.slideNav_outer .ico_next:hover {background-position:-75px -81px;}

/*floatpannel*/
.floatpannel {position:fixed;_position:absolute;right:10px;bottom:46px;z-index:999;}
.floatpannel a {display:block;width:50px;height:50px;margin-top:10px;text-indent:-9999px;overflow:hidden;}
.floatpannel .floatpannel_top {background-position:0 -53px;}