@charset "utf-8";
/* @author ------- shauning
 * @design ------- vinha
 * @time   ------- 2015-01-31*/
/*reset*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,a,del,dfn,em,img,ins,strong,sub,sup,dd,dl,dt,li,ol,ul,fieldset,form,label,legend {margin:0;padding:0;}
section,article,aside,header,footer,nav,dialog,figure,hgroup {display:block;}
h1, h2, h3, h4, h5, h6 {font-size:100%;font-weight:normal;}
address, cite, em {font-style:normal;}
li {list-style-type:none;}
fieldset, img {border:0;}
label,button {cursor: pointer;}
select,input,textarea {font-size:12px;line-height:1.2em;outline:none;}
body {min-width:1000px;height:100%;background:#fff;font:12px/1.8em "Microsoft Yahei","\5b8b\4f53","Arial Narrow";color:#999;}
a {color:#333;outline:none;text-decoration:none;}
a:hover {color:#0073c6;}
/*globel*/
.floatpannel a {background:url(../img/sprite.png) no-repeat 0 0;}
.wrapper {width:1000px;margin:0 auto;zoom:1;}
.wrapper:after {content:"";display:table;clear:both}
.main {float:left;width:646px;}
.side {float:right;width:320px;}
.footer {width:1000px;height:60px;padding-top:20px;margin:40px auto 0;color:#b1b1b1;text-align:center;border-top:solid #f4f4f4 1px;}
.footer span {font-family:"Arial";}
.footer .p_1 a {margin: 0 10px; font-size: 14px;}
.footer .p_2 a {color: #999;}
.box_490 {width:490px;}
.floatL {float:left;}
.floatR {float:right;}
/*topbar*/
.topbar_city_drop .arrow, .topbar_city_tt, .header_app .mobile, .sitenav, .sitenav_channel .hot .ico, .sitenav_more .ico, .sitenav_more li, .logo i {background:url(http://misc.kankancity.com/station/img/sitenav.png) no-repeat 0 0;}
.topbar {height:35px;background:#f6f6f6;}
.topbar_con {width:1000px;margin:0 auto;}
.topbar_city {position: relative; float:left; display: inline; margin-left: 25px;color:#333;z-index: 9;}
.topbar_city_tt {background-position: 55px -58px; padding-right: 18px; line-height: 35px; cursor: pointer;}
.topbar_city_drop {position: absolute; left: 0; top: 35px; display: none; width: 180px; background: #fff; padding: 5px 0; border: 1px #ddd solid;}
.topbar_city_drop a {float: left; display: block; width: 60px; font-size: 14px; line-height: 30px; text-align: center;}
.topbar_city_drop .arrow {position:absolute;left:18px;top:-8px;width:20px;height:14px;background-position:-21px -47px;}
.topbar_pannel {float:right;font-size:14px;line-height:35px;}
.topbar_pannel a {float:left;margin-left:10px;}
.topbar_pannel img {float:right;display:inline;margin-left:10px;}
.topbar_link {float: left;line-height: 35px;}
.topbar .tel {float:left;display:inline;margin:0 0 0 175px;color:#666;line-height:35px;}
.header {width:1000px;height:63px;margin:20px auto 0;}
.ico {position:absolute;display:block;width:13px;height:13px;text-indent:-9999px;overflow:hidden;}
.logo {position:relative;float:left;width:318px;height:46px;}
.logo a {display:block;height:46px;}
.logo i {position:absolute;left:0;top:0;display:block;width:318px;height:52px;background: url(http://misc.kankancity.com/www/img/globelnav.png);}
.site_hb .logo i {width:280px;height:46px;background:url(http://misc.kankancity.com/station/img/sitenav.png) 0 -93px;}
.site_hn .logo i {width:280px;height:46px;background:url(http://misc.kankancity.com/station/img/sitenav.png) 0 -140px;}
.site_js .logo i {width:280px;height:46px;background:url(http://misc.kankancity.com/station/img/sitenav.png) 0 -187px;}
.site_sc .logo i {width:280px;height:46px;background:url(http://misc.kankancity.com/station/img/sitenav.png) 0 -234px;}
.headersearch {float:right;margin-top:10px;}
.headersearch input {float:left;width:215px;height:16px;padding:8px 10px;font-size:14px;line-height:16px;font-family:"Microsoft Yahei";border:solid #ccc 1px;}
.headersearch button {width:80px;height:34px;background:#f4f4f4;font-size:15px;color:#333;font-family:"Microsoft Yahei";border:solid #ccc 1px;border-left:none;}
.header_app {float: left; display: inline; margin: 10px 0 0 30px; font-size: 14px; line-height: 26px;}
.header_app a {display: inline-block;}
.header_app .mobile {background-position: -254px -47px; padding-left: 30px;}
.sitenav {background-position: 0 -281px; background-repeat: repeat-x; margin:0 auto 20px;}
.sitenav_list {width: 1000px; height:50px;background:#1887d0; margin: 0 auto;}
.sitenav ul, .sitenav li {float:left;}
.sitenav_list a {position:relative;display:block;width:68px;height:50px;font-size:17px;color:#fff;font-family:"Microsoft Yahei";line-height:50px;text-align:center;}
.sitenav_list .cur, .sitenav_list a:hover {background:#136daa;text-decoration:none;}
.sitenav_more li {background-position:0 -372px;padding-left:10px;}
.sitenav_more .ico {right:-10px;top:8px;width:20px;height:11px;background-position:0 -47px;}
.sitenav_channel {width: 1000px; height:40px; background: #f6f6f6; margin: 0 auto; line-height:40px;}
.sitenav_channel a {margin:0 15px;font-size:14px;}
.sitenav_channel .on {color: #005ca2; font-weight: bold;}
.sitenav_channel .hot {position:relative;}
.sitenav_channel .hot .ico {right:-19px;top:-8px;width:20px;height:11px;background-position:0 -47px;}
.pop_fadein {display:block;-webkit-animation:pop_fadein .5s alternate ease-in-out;-moz-animation:pop_fadein .5s alternate linear;-ms-animation:pop_fadein .5s alternate linear;animation:pop_fadein .5s alternate ease-in-out;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d;}@-webkit-keyframes pop_fadein{0%{opacity:0;-webkit-transform:translateY(-50px);}50%{opacity:1;-webkit-transform:translateY(4px);}80%{-webkit-transform:translateY(-2px);}100%{-webkit-transform:translateY(0);}}@-moz-keyframes pop_fadein{0%{opacity:0;-moz-transform:translateY(-50px);}50%{opacity:1;-moz-transform:translateY(4px);}80%{-moz-transform:translateY(-2px);}100%{-moz-transform:translateY(0);}}@-ms-keyframes pop_fadein{0%{opacity:0;-ms-transform:translateY(-50px);}50%{opacity:1;-ms-transform:translateY(4px);}80%{-ms-transform:translateY(-2px);}100%{-ms-transform:translateY(0);}}@keyframes pop_fadein{0%{opacity:0;transform:translateY(-50px);}50%{opacity:1;transform:translateY(4px);}80%{transform:translateY(-2px);}100%{transform:translateY(0);}}
/*floatpannel*/
.floatpannel {position:fixed;_position:absolute;right:10px;bottom:46px;z-index:999;}
.floatpannel a {display:block;width:50px;height:50px;margin-top:10px;text-indent:-9999px;overflow:hidden;}
/*box*/
.box {margin-bottom:30px;overflow:hidden;zoom;1;}
.box_tt {height:35px;line-height:35px;border-bottom:solid #f6f6f6 4px;}
.box_tt h2 {float:left;height:35px;color:#333;font-size:18px;font-weight:bold;border-bottom:solid #1889d1 4px;}
.act {float: right; font-style: 14px;}
/*imglist*/
.movtxt {height:16px;line-height:16px;padding:0 2px;font-size:11px;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#99000000', endColorstr='#99000000');background:rgba(0,0,0,0.6);color:#fff;position:absolute;right:0;bottom:0;}
.imglist {_float:left;overflow:hidden;zoom:1;}
.imglist li {float:left;overflow:hidden;}
.imglist .pic {position:relative;display:block;margin-bottom:6px;}
.imglist .title {height:40px;margin-bottom:3px;font-size:14px;overflow:hidden;}
.imglist_150x85 {margin-left:-20px;}
.imglist_150x85 li {width:150px;margin:15px 0 0 20px;}
.imglist_150x85 .pic, .imglist_150x85 img {width:150px;height:85px;}
/*slide*/
.slidebox {position:relative;float:left;width:490px;height:320px;overflow:hidden;}
.slidebox_list li {width:490px;height:320px;}
.slidebox_list a {position:relative;display:block;height:320px;}
.slidebox_list img {width:490px;height:320px;}
.slidebox_list span {position:absolute;left:0;bottom:0;display:block;width:410px;height:40px;padding:0 70px 0 10px;font-size:18px;color:#fff;font-family:"Microsoft Yahei";line-height:40px;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#99000000', endColorstr='#99000000');background:rgba(0,0,0,0.6);}
.slidebox_tigger {position:absolute;right:10px;bottom:15px;}
.slidebox_tigger li {float:left;display:inline;width:10px;height:10px;background:#fff;margin-left:6px;cursor:pointer;text-indent:-9999px;overflow:hidden;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;}
.slidebox_tigger .on {background:#de0909;}
/*topnews*/
.topnews {height: 320px; margin-bottom: 30px; overflow: hidden;}
.topnews_right .imglist_150x85 li {margin: 0 0 13px 20px;}