@charset "utf-8";
/* @author ------- shauning
 * @design ------- vinha
 * @time   ------- 2015-03-24*/
/*reset*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,a,del,dfn,em,img,ins,strong,sub,sup,dd,dl,dt,li,ol,ul,fieldset,form,label,legend {margin:0;padding:0;}
section,article,aside,header,footer,nav,dialog,figure,hgroup {display:block;}
h1, h2, h3, h4, h5, h6 {font-size:100%;font-weight:normal;}
address, cite, em {font-style:normal;}
li {list-style-type:none;}
fieldset, img {border:0;}
label,button {cursor: pointer;}
select,input,textarea {font-size:12px;line-height:1.2em;outline:none;}
body {min-width:1170px;height:100%;background:#c6093c url(../img/red_bg.jpg) no-repeat center 45px;font:12px/1.6em "Microsoft Yahei","\5b8b\4f53","Arial Narrow";color:#fff;}
a {color:#fff;outline:none;text-decoration:none;}
a:hover {text-decoration: underline;}

.hide {position: absolute; left: -9999px;}
.wrapper {width: 1170px; margin: 0 auto;}
.footer {margin: 30px 0; text-align: center;}

.topbar {height: 45px; background: #000;}
.topbar_inner {width: 1170px; margin: 0 auto;}
.logo {float: left;}
.topbar_pannel {float: right; font-size: 14px; line-height: 45px;}
.topbar_pannel a {font-size: 14px; color: #fff;}

.header {width: 1170px; height: 465px; background: url(../img/red_header.jpg); margin: 0 auto;}

.box {margin-bottom: 30px;}
.box .box_inner {background: #e50d4e; overflow: hidden;}
.box h3 {padding: 0 20px; font-size: 18px;}
.box h4 {margin-bottom: 15px; font-size: 30px; line-height: 40px;}
.box_top {height: 19px; background: url(../img/box_top.png); overflow: hidden;}
.box_bottom {height: 19px; background: url(../img/box_bottom.png); overflow: hidden;}

.box_play {background: #e50d4e;}
.box_play .box_inner {height: 510px;}
.player_outer {width: 1125px; height: 490px; background: #000; margin: 20px auto 0;}
.player_contain {height: 490px;}
.player {position:relative; float: left; width: 806px; height: 490px;}
.playerbox {width:806px;height:490px;background:#000;}
.playerbar {float:right;width:319px;height:490px;background:#303030;overflow:hidden;}
.playerbar_tt {height:40px;padding:0 10px 0 20px;background:#292929;overflow:hidden;}
.playerbar_con {float:left;width:320px;height:490px;}
.playerbar_contain {position:relative;width:310px;height:439px;margin:10px 0 0 10px;overflow:hidden;_overflow:auto;SCROLLBAR-FACE-COLOR:#616161;SCROLLBAR-HIGHLIGHT-COLOR:#616161;SCROLLBAR-SHADOW-COLOR:#3C3C3C;SCROLLBAR-3DLIGHT-COLOR:#3C3C3C;SCROLLBAR-ARROW-COLOR:#4a4e51;SCROLLBAR-TRACK-COLOR:#3C3C3C;SCROLLBAR-DARKSHADOW-COLOR:#3C3C3C;}
.playerbar_contain .act {line-height:40px;text-align:right;}
.playerbar_contain .act a {font-size:14px;color:#999;}
.mCustomScrollBox {position:relative;width:285px;height:465px;padding-right:22px;overflow:hidden;zoom:1;}
.mCSB_container {position:relative;zoom:1;}
.mCSB_scrollTools {position:absolute;right:8px;top:0;width:6px;height:465px;}
.mCSB_draggerContainer {position:absolute;right:0;top:0;width:6px;height:465px;}
.mCSB_dragger {position:absolute;right:0;top:0;display:block;width:6px;overflow:hidden;}
.mCSB_dragger_bar {width:6px;height:100%;background:#616161;cursor:pointer;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.mCSB_draggerRail {width:6px;height:465px;background:#3c3c3c;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.mCSB_dragger_bar:hover {background:#999;}
.mCSB_draggerRail:hover {background:#3c3c3c;}
.tabbox {>float:left;margin-left:-10px;}
.tabbox li, .box_comment .tabbox span, #vod_comment .tabbox span {float:left;display:inline;height:29px;font-size:16px;font-family:"Microsoft Yahei";color:#ccc;line-height:20px;cursor:pointer;}
.tabbox span {float:left;display:inline;margin:1px 0 0 10px;color:#ccc;font-family:"\5b8b\4f53";}
.tabbox a {float:left;display:inline;height:29px;margin-left:10px;font-family:"Microsoft Yahei";}
.tabbox .on, .box_comment .tabbox .on {background-position:-84px -5px;color:#249ff1;}
.tabbox_playerbar {float:left;margin:0;}
.tabbox_playerbar li {margin:10px 0 0 0;}
.tabbox_playerbar a {margin:0 20px 0 0;font-size:16px;color:#999;font-family:"Microsoft Yahei";}
.tabbox_playerbar .on {color:#999}

/*imglist*/
.mask, .imgLlist p {position:absolute;right:0;bottom:0;padding:0 5px;color:#fff;font-size:12px;line-height:16px;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#99000000', endColorstr='#99000000');background:rgba(0,0,0,0.6);}
.onmask {position:absolute;left:-9999px;top:0;display:block;width:120px;height:73px;background: url(../img/sprite.png);zoom:1;}
.imglist {overflow:hidden;zoom:1;}
.imglist li, .imgLlist li {float:left;display:inline;margin-top:20px;font-size:14px;overflow:hidden;>line-height: 20px;}
.imglist .pic, .imgLlist .pic {position:relative;display:block;margin-bottom:5px;}
.imglist_150x85, .imgLlist {margin-left:-20px;}
.imglist_150x85 li, .imgLlist li {width:150px;height:128px;margin-left:20px;}
.imglist_150x85 .pic, .imglist_150x85 img {width:150px;height:85px;}
.imglist_120x68 {overflow:hidden;zoom;1;}
.imglist_120x68 li {position:relative;float:none;display:block;height:68px;padding:8px 4px 8px 140px;margin:0;}
.imglist_120x68 li:hover, .imglist_120x68 .on {background:#4f4f4f;}
.imglist_120x68 .pic {position:absolute;left:10px;top:8px;width:120px;height:68px;overflow:hidden;}
.imglist_120x68 img {width:120px;height:68px;}
.imglist_120x68 p {margin-top:5px;}
.imglist_120x68 a {color:#ccc;}
.imglist_120x68 .title {display:block;height:39px;overflow:hidden;}
.imglist_120x68 .title:hover {text-decoration:none;}
.imglist_120x68 .mask {bottom:0;height:16px;}
.imglist_120x68 .on .onmask {left:0;color:#fff;line-height:116px;text-indent:20px;}
.imglist_120x68 .on .mask {bottom:2px;display:block;width:108px;line-height:19px;text-indent:-9999px;}
.imglist_120x68 .on .title {color:#3CA0FF;}

/*error*/
.error {position:absolute;left:0;top:0;width:806px;height:490px;background:#000 url(../img/error.png) no-repeat center 200px;color:#fff;z-index:999;text-align:center;}
.error p {padding:300px 0 20px;font-size:14px;line-height:24px;}
.errortxt {position:absolute;left:0;top:0;width:100%;height:100%;background:#000;padding-top:200px;color:#fff;z-index:999;text-align:center;}
.errortxt p {padding-bottom:20px;font-size:16px;font-family:"Microsoft YaHei";line-height:24px;}
.errortxt a, .error a {color:#249FF1;text-decoration:underline;}
.errortxt div {padding:20px 0 0 178px;text-align:left;}

.movielist {overflow: hidden; zoom:1;}
.movielist li {position: relative; float: left; width: 236px; margin: 0 34px 0 0; font-size: 14px;}
.movielist img {display: block; width: 236px; height: 130px; margin-bottom: 5px;}
.movielist strong {display: block; margin-bottom: 3px; font-size: 18px;}
.movielist_236 {float: left; width: 236px; padding-right: 34px;}
.movielist_236_2 {float: left; width: 236px; padding-right: 34px;}
.movielist_236 img {height: 295px;}
.movielist_236 li, .movielist_236_2 li {margin: 0 0 10px 0;}
.movielist_last {padding-right: 0;}
.ico_play {position: absolute; left: 8px; top: 84px; width: 28px; height: 28px; background: url(../img/png24.png);}

.scroll {position: relative; margin: 20px 0;}
.scroll_inner {position: relative; width: 1046px; margin: 0 auto; overflow: hidden;}
.scroll_inner .movielist {position: relative;}
.pre, .next {position: absolute; top: 40px; width: 29px; height: 49px; background: url(../img/scroll_btn.png);}
.pre {left: 15px; background-position: 0 -50px;}
.pre_none {background-position: 0 0;}
.next {right: 15px; background-position: -30px -50px;}
.next_none {background-position: -30px 0;}
.scroll_2 .pre, .scroll_2 .next {top: 120px;}

.weibo {width: 1065px; height: 650px; margin: 0 auto; background: #fff;}
.weibo h5 {margin: 15px 0; font-size: 16px; color: #333;}
.weibo_L {float: left; width: 800px;}
.weibo_R {float: right; width: 265px;}

.style_black {background:#000 url(../img/black_bg.jpg) no-repeat center 45px;}
.style_black .header {background: url(../img/black_header.jpg);}
.style_black .box_top {background: url(../img/black_box_top.png);}
.style_black .box_bottom {background: url(../img/black_box_bottom.png);}
.style_black .box_play {background: #3a3a3a;}
.style_black .box .box_inner {background: #3a3a3a;}
.style_black .pre, .style_black .next {background-image: url(../img/black_scroll_btn.png);}

.style_white {background:#eaeaea url(../img/white_bg.jpg) no-repeat center 45px; color: #333;}
.style_white a {color: #333;}
.style_white .header {background: url(../img/white_header.jpg);}
.style_white .box_top {background: url(../img/white_box_top.png);}
.style_white .box_bottom {background: url(../img/white_box_bottom.png);}
.style_white .box_play {background: #fff;}
.style_white .box .box_inner {background: #fff;}
.style_white .pre, .style_white .next {background-image: url(../img/white_scroll_btn.png);}

.style_green {background:#229d24 url(../img/green_bg.jpg) no-repeat center 45px;}
.style_green .header {background: url(../img/green_header.jpg);}
.style_green .box_top {background: url(../img/green_box_top.png);}
.style_green .box_bottom {background: url(../img/green_box_bottom.png);}
.style_green .box_play {background: #41b443;}
.style_green .box .box_inner {background: #41b443;}
.style_green .pre, .style_green .next {background-image: url(../img/green_scroll_btn.png);}

.style_blue {background:#012d85 url(../img/blue_bg.jpg) no-repeat center 45px;}
.style_blue .header {background: url(../img/blue_header.jpg);}
.style_blue .box_top {background: url(../img/blue_box_top.png);}
.style_blue .box_bottom {background: url(../img/blue_box_bottom.png);}
.style_blue .box_play {background: #1191cf;}
.style_blue .box .box_inner {background: #1191cf;}
.style_blue .pre, .style_blue .next {background-image: url(../img/blue_scroll_btn.png);}